a{
    font-size: 28px;
}
a:link {
    color: #497DDD;
    text-decoration: none;
  }
  a:visited {
    color: #607D8B;
    text-decoration: none;
  }
  a:hover {
    color: #154088;
    text-decoration: none;
  }
  a:active {
    color: #497DDD;
    text-decoration: none;
  }