<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>
      Название:
      <input type="text" formControlName="name" required>
    </label>
  
    <label>
      Длительность:
      <input type="text" formControlName="duration">
    </label>
    
    <label>
      Количество:
      <input type="text" formControlName="count">
    </label>

    <label>
      Преподаватель:
      <input type="text" formControlName="teacher">
    </label>

    <button type="submit" [disabled]="!form.valid">Отправить</button>
  </form>
  
  <hr>
  
  
  <p>
    Form Value: {{form.value | json }}
  </p>
  
  
  <p>
    Form Status: {{ form.status }}
  </p>
  <a [routerLink]="['/']">Назад</a>